html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color:#fffafaa1;

}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    transform: scale(1.2);
}

header{
    border-bottom: 1px black solid;
    text-align: center;
    padding: 0;
    width:100%;
    background-color:black;
    color: white;
}
header a, footer a{
    color: white;
}
header h1{
    margin:0;
    padding-top:10px;
}
header ul{
    width:100%;
    padding:0;
}

header li{
    display: inline-block;
    width: 18%;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 10%;
    margin:0;
}

.hero-image{
    background-image: url('images/stock_chart.jpeg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 300px;
    min-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    
}

.hero-image h1{
    padding: 2px;
    border: 3px solid white;
}

.about{
    display: flex;
    flex-wrap: wrap;
}

.about h2{
    margin: 0;
    padding: 10px 0 0 10px;
    display: inline-block;
}

.about .card{
    width: 100%;
    max-height: 300px;
}
.card img{
    width: 40%;
    float: right;
    margin:5px 20px 20px 0;
    border-radius: 50%;
    outline: inherit;
    max-width: 200px;
}

.cert-list{
    padding: 10px 0 30px 30px;
}

.cert-list li{
    padding: 5px 0;
}

.about p{
    padding: 0 10px;
}

.second-image{
    background-image: url('images/calculator.jpeg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 300px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:Black;
}
.second-image h2{
    border: 2px solid white;
    padding: 2px;
}

.services{
    padding: 0 10px;
}

.services ul{
    padding:0;
    display: flex;
    flex-wrap: wrap;
}

.services li{
    font-weight: bold;
}

.services p{
    padding-left: 20px;
    padding-right: 10px;
}

.back-image3{
    background-image: url('images/handshake.jpeg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 300px;
    min-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
}
.back-image3 h2{
    position: relative;
    bottom: 50px;
}

.accounts{
    padding: 0 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.accounts h4{
    margin-bottom: 0;
}

.account-links{
    padding: 0;
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.account-links li{
    padding: 5px 0;
    width: 100%;
    font-size: 20px;
}

footer{
    text-align: center;
    border-top: 1px solid black;
    background-color: black;
    color: white
}

footer ul{
    padding: 0 0 10px 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

footer li{
    padding: 5px;
    display: inline-block;
    font-size: 18px;
}

footer form{
    padding-bottom: 10px;
}
footer input{
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

@media screen and (min-width: 500px){
    .about{
        display: flex;
        flex-wrap: wrap;
    }

    .cert-list li,  .services li, .accounts li{
        font-size: 22px;
    }

    h2{
        font-size: 32px;
    }

    p, h4{
        font-size: 18px;
    }

    .account-links li{
        padding: 5px 0;
        width: 50%;
        font-size: 24px;
    }

}

@media screen and (min-width: 768px){
    h1{
        font-size: 38px;
    }
    
    nav li{
        font-size: 24px;
    }

    .cert-list li,  .services li, .accounts li{
        font-size: 28px;
    }

    h2{
        font-size: 36px;
    }

    p, h4{
        font-size: 24px;
    }

    .account-links li{
        padding: 5px 0;
        width: 30%;
        font-size: 24px;
    }

    footer ul{
        justify-content: space-evenly;
    }

    footer li{
        font-size: 24px;
    }
}

@media screen and (min-width: 900px){
    .account-links li{
        padding: 5px 0;
        width: 20%;
        font-size: 30px;
    }
}